{% extends "info_base.html" %}
{% block title %}Grad Social 2026 — Frequently Asked Questions{% endblock %}
{% block content %}
<h1>Frequently Asked Questions</h1>


<h2>General</h2>
<div class="qa">
  <h3>What is the date and time of the prom?</h3>
  <p>Wednesday, June 24, 2026 from 5:30 pm - 10:30 pm</p>

  <h3>Where will the prom be held?</h3>
  <p>Ajax Convention Centre</p>

  <h3>What is the theme of the prom?</h3>
  <p>Twilight Garden</p>

  <h3>Is there a specific dress code?</h3>
  <p>Semi-Casual</p>
</div>

<h2>Tickets</h2>
<div class="qa">
  <h3>How much do tickets cost?</h3>
  <p>$105 + School Cash Online Fee</p>

  <h3>Where and when can we purchase tickets?</h3>
  <p>Tickets will be made available on School Cash online as of March 16, 2026</p>

  <h3>Can tickets be bought at the door, or is pre-purchase required?</h3>
  <p>Tickets must be pre-purchased</p>

  <h3>What is the last date to purchase tickets?</h3>
  <p>May 29, 2026</p>
</div>

<h2>Guests</h2>
<div class="qa">
  <h3>Can I bring a guest who doesn’t attend this school?</h3>
  <p>Yes.  Your guest must be a current Ontario High School Student.</p>

  <h3>Is there an age limit for guests?</h3>
  <p>Yes. 18 years.</p>

  <h3>Do guests need to be pre-registered or approved?</h3>
  <p>Yes.  Forms can be found within this website, or in the Main Office.  Please return it by May 22, and wait for approval.</p>

  <h3>Can I attend without a date?</h3>
  <p>Yes!  Of Course!</p>

  <h3>Are tickets transferable if someone can’t attend?</h3>
  <p>No.  Tickets are not transferrable.</p>
</div>

<h2>Logistics</h2>
<div class="qa">
  <h3>Can we leave the event and come back later?</h3>
  <p>No.  There is no re-entry once you have left the Grad Social Area.</p>

  <h3>Are bags or purses allowed, and will there be security checks?</h3>
  <p>Yes.  All bags and coats will be checked on entry.</p>
</div>

<h2>Food &amp; Drinks</h2>
<div class="qa">
  <h3>Will food and drinks be provided? If so, what type?</h3>
  <p>Yes.  There will be a buffet dinner and dessert, tea, coffee, non-alcoholic mocktails, candy, and other treats.</p>

  <h3>Are there options for students with dietary restrictions?</h3>
  <p>Yes.  Please fill out the Food Allergy/ Dietary Restriction Google Form to provide details there.</p>

  <h3>Is there a seating plan?</h3>
  <p>Yes.  You will select your seats once tickets have been purchased.</p>
</div>

<h2>Preparation</h2>
<div class="qa">
  <h3>What happens if I lose my ticket?</h3>
  <p>You do not need your physical ticket to enter Grad Social.  Please ensure any guests bring ID with them.</p>
</div>
{% endblock %}
