{% extends "info_base.html" %}
{% block title %}Grad Social 2026 — Important Dates{% endblock %}
{% block content %}
<h1>Important Dates</h1>
<ul>
  <li>March 16: Ticket Sales Begin</li>
  <li>May 22: Last day to submit guest forms</li>
  <li>May 29:  Last Day of Ticket Sales</li>
  <li>May 29:  Last day to submit your Grad Social Mock Award Nominations</li>
  <li>June 12:  Last day to submit Final Mock Award Votes</li>
  <li>June 12:  Last day to select your table (more information on this process to come!)</li>
</ul>
{% endblock %}
