{% extends "info_base.html" %}
{% block title %}Grad Social 2026 — Rules{% endblock %}
{% block content %}
<h1>Rules</h1>
<ol>
  <li>No admittance before 5:30 p.m. or after 6:30 p.m., unless special permission is obtained in advance from the Principal or Vice-Principal.  Grade 12 Social Hours: 5:30 p.m. – 10:30 p.m.</li>
  <li>Dress Code: Semi-Formal</li>
  <li>Tickets are non-transferrable, and non-refundable as tickets must be pre-approved, and costs are pre-paid.</li>
  <li>All attending students will act in accordance with the Donald A. Wilson Secondary School Code of Conduct. <a href="https://donaldawilsonss.ddsb.ca/en/our-school/resources/Documents/2025-2026-DAWSS-Student-Agenda.pdf" target="_blank" rel="noopener noreferrer">https://donaldawilsonss.ddsb.ca/en/our-school/resources/Documents/2025-2026-DAWSS-Student-Agenda.pdf</a></li>
  <li>The Gr. 12 Grad Social is a drug- and alcohol-free event.  Guests are strictly prohibited from bringing or consuming alcohol and/or drugs on the premises.  Any students under the influence of alcohol or any substance will be immediately removed from the Grade 12 Grad Social and will not receive a refund.  Parents/ Guardians and the police will be contacted. In addition:
    <ul>
      <li>A suspension from school may result and student attendance at their graduation may be in jeopardy.</li>
      <li>In cases involving trafficking of controlled substances or providing alcohol to minors, students may be suspended and/or expelled.</li>
    </ul>
  </li>
  <li>No smoking or vaping is permitted at the Grade 12 Grad Social area.</li>
  <li>Coats and bags must be checked in the designated area outside of the Grade 12 Social Area.</li>
  <li>Students are expected to remain in the building designated for students’ use during the Grade 12 Social.</li>
  <li>No student who is under school suspension or expulsion will be permitted to attend the Grade 12 Social</li>
  <li>Students are strongly discouraged from bringing valuables to the Grade 12 Social.  The school will not be responsible for items stolen, lost, or damaged.</li>
  <li>Students shall enter and exit the building by the designated door only.</li>
  <li>Students who leave the Grade 12 Social will not be re-admitted.</li>
  <li>Students are expected to conduct themselves in an appropriate and safe manner both at the Grade 12 Social and on the grounds/property.</li>
</ol>
{% endblock %}
