{% extends "info_base.html" %}
{% block title %}Grad Social 2026 — Table Seating{% endblock %}
{% block content %}
<h1>Table Seating</h1>
<p><strong>***Please check back at a later date for the seat selection link!***</strong></p>

<h2>Some important information to consider before selecting a seat:</h2>
<ul>
  <li>There are only 10 people allowed per table.</li>
  <li>The layout shown in the link is only an approximation.  For Example: Table 12 and 13 may NOT actually be beside each other on the day of Grad Social.</li>
  <li>If tables have less than 5 people, they may be combined with another smaller table.</li>
  <li>Please check "Important Dates" and note the last day to select your table!  After this you will be able to see what table you are sitting at, but you cannot make any changes</li>
  <li>Your actual table number may change.  Please check back frequently to see any changes that have been made.</li>
</ul>
{% endblock %}
